<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psm.mapper.CourseInfoMapper">
  <resultMap id="BaseResultMap" type="com.psm.dto.CourseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del" jdbcType="INTEGER" property="del" />
  </resultMap>

  <select id="selectAllInfo" resultMap="BaseResultMap">
    select *
    from course_info
    where del = 1
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select *
    from course_info
    where del = 1 and course_name = #{courseName}
  </select>

</mapper>