<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psm.mapper.MessageInfoMapper">
  <resultMap id="BaseResultMap" type="com.psm.dto.MessageInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
  </resultMap>

  <select id="selectByClassId" resultMap="BaseResultMap" parameterType="integer">
    select *
    from message_info
    where class_id = #{classId}
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="string">
    select *
    from message_info
    where user_name = #{userName}
    ORDER BY message_id DESC
  </select>
</mapper>