<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psm.mapper.PhoneInfoMapper">
  <resultMap id="BaseResultMap" type="com.psm.dto.PhoneInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="phone_id" jdbcType="INTEGER" property="phoneId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="phone_object" jdbcType="VARCHAR" property="phoneObject" />
  </resultMap>
</mapper>