<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psm.mapper.UserStatusMapper">
  <resultMap id="BaseResultMap" type="com.psm.dto.UserStatus">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>